@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Bitcount:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */
@font-face {
  font-family: 'Compacta';
  src: url('/font/CompactaBT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Compacta Unicode';
  src: url('/font/unicode.compacta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
    font-family: Inter;
    letter-spacing: -0.025em;
}

.hero-title {
  font-family: 'Compacta', sans-serif;
}

/* reusable fade-in animation */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
